AGENT_MODEL=gemini-2.5-flash
BQ_PROJECT_ID=hk-tam-playground
PROTOTYPE_DETAILED_BILLING_TABLE_ID=sunivy-watch-the-billing.billing.gcp_billing_export_resource_v1_01D6F4_A0F3DD_B95EA8
TARGET_BILLING_TABLES=bytedance-cloud-216403.billing.gcp_billing_export_resource_v1_01A25B_AA5CE5_4FBF3D,bytedance-sg-default.billing.gcp_billing_export_resource_v1_011EDB_66A1D4_6F52D1,billing-bytedance-pte-ltd.billing.gcp_billing_export_resource_v1_01CE7C_C65FA9_96EB60,bytedance-europe-default.billing.gcp_billing_export_resource_v1_015E0B_265CB2_E78BC8

GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=sunivy-watch-the-billing
GOOGLE_CLOUD_LOCATION=us-central1